@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "LEAVEREPORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/index.css">
    <script src="~/js/site.js"></script>


    <style>

        .containers {
            margin-left: 30px;
            /*   margin-top: 100px; */
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* border-radius: 8px; */
            width: 100%;
            border: 1px solid #d4faff;
            background-color: white;
            /* box-shadow: 2px 2px 1px 1px #F1F1F1; */
        }

        .text {
            margin-left: 70px;
        }


        button {
            margin-bottom: 15px;
        }

        th {
            padding: 7px;
        }

        .btn_class {
            height: 30px;
            width: 75px;
            display: inline-block;
            padding: 6px 10px;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background-color: #538392;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn_class:hover {
                background-color: pink;
            }

        .showbtn {
            margin-left: 130px;
            display: none;
        }

        .btn2_class {
            height: 30px;
            width: 150px;
            display: inline-block;
            padding: 6px 10px;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background-color: #538392;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            /* display:none; */
        }

            .btn2_class:hover {
                background-color: pink;
            }

        .tablediv_class {
            display: none;
            margin: 10px;
        }


    </style>

</head>



<body>


    <div class="pagecontiner">
        <div class="d-flex justify-content-center align-items-center" style="background-color:#538392; font-weight: 500; color:white;height:50px">
            <span class="text-center" style="font-size:medium">EMPLOYEE LEAVE REPORT</span>
        </div>


        <div class="form-container  p-3" style="border-radius:7px; background-color:white; ">

            <div class="form-group row">
                <label for="empcode" class="col-sm-3 col-form-label form-label ml-5" style="font-size:small; padding:5px;">Employee Code:</label>
                <div class="col-sm-3 ">

                    <input type="text" maxlength="6" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="emp_code" value="@ViewData["EmpCode"]" style="height:30px;font-size:small" readonly="true">
                </div>

                <label for="empname" class="col-sm-3 col-form-label form-label ml-20" style="font-size:small;padding:5px;">Employee Name:</label>
                <div class="col-sm-3 ">

                    <input type="text" class="form-control" id="emp_name" value="@ViewData["EmpName"]" style="height:30px;font-size:small" readonly="true">
                </div>

            </div>

            <div class="form-group row">
                <label for="fromdate" class="col-sm-3 col-form-label form-label ml-20" style="font-size:small;padding:5px;">Leave From Date:</label>
                <div class="col-sm-3 ">

                    <input type="date" class="form-control" id="from_date" value="2024-04-01" style="height:30px;padding:2px;font-size:small" name="datepicker">
                </div>

                <label for="todate" class="col-sm-3 col-form-label form-label ml-20" style="font-size:small;padding:5px;">Leave To Date:</label>
                <div class="col-sm-3 ">

                    <input type="date" class="form-control" id="to_date" style="height:30px; padding:2px;font-size:small" name="datepicker">
              
            </div>
       </div>

            <div class="form-group row  mt-3 d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 ml-5 text-center">
                            <button type="button" class="btn_class" onclick="validation();submitReq();ftabledate();">CONFIRM</button>

                        </div>
                        <div class="col-md-6  text-center">

                            <button type="button" class="btn_class" onclick="loadIndex()">EXIT</button>
                        </div>
                    </div>
                </div>
            </div>
</div>

<br>

        @* export and print button *@
        <div class="showbtn" id="btn_div">

            <div class="row">
                <div class="col-md-3 ml-5 text-center">
                    <button type="button" class="btn2_class" onclick="printData()">PRINT</button>

                </div>
                <div class="col-md-3  text-center">

                    <button type="button" class="btn2_class" onclick="ExportToExcel('xlsx');">EXPORT TO EXCEL</button>
                </div>

                <div class="col-md-3  text-center">

                    <button type="button" class="btn2_class" onclick="unshow_btn();unshowTableDiv();">CLOSE</button>
                </div>
            </div>
        </div>


         @* table sarting *@
  <center>
      <div id="divcontainer2" class="tablediv_class">

         @* first table showing heading and emp details *@
          <table width="110%" style=" border: 1px solid #538392; text-align: center; background-color:white;" id="empDtlTable">


              <thead>
                  <tr>
                      <td colspan="7" ><b>MANAPPURAM FINANCE LIMITED</b></td>
                  </tr>
                    <tr>
                      <td colspan="7">
                          
                       <label style="font-size:small" > Branch Name: @httpContextAccessor.HttpContext.Session.GetString("BrName") -- Branch ID: @httpContextAccessor.HttpContext.Session.GetString("BrID")</label>  
                          
                      
                      </td>
                  </tr>
                  <tr style="background-color:#538392;color:white;height:34px;padding:10px">
                      <td>  <span id="currentDate" style="font-size:14px;"></span></td>
                      <td colspan="5" style="font-size:14px;">LEAVE DETAILS FROM <span id="frm_date" style="font-size:14px;"></span> TO <span id="t_date"  style="font-size:14px;"></span></td>
                      <td> <span id="currentTime"  style="font-size:14px;"></span></td>

                  </tr>

                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                 

               
                  </thead>
                   <tbody id="table-body" style="text-align:start; height:80px; padding:8px;"></tbody>

          </TABLE> 
         @*  <br> *@

          @* second table showing leave report *@
                 <TABLE width="110%" style=" border: 1px solid #538392; border-collapse: collapse; text-align: center; background-color:white;margin-bottom:30px;" id="leaveRptTable">
                     <Thead>
                 
                 
                     <tr style=" border: 1px solid #006769;font-size:14px; padding:10px;height:44px">
                      <td>SI No:</td>
                      <td>From Date</td>
                      <td>To Date</td>
                      <td>Leave Days</td>
                      <td>Leave Type</td>
                      <td>Reason</td>
                      <td></td>
                  </tr>
                 
              </thead>
              <tbody id="table-body1"></tbody>


          </table>
      </div>
  </center>

    </div>

    <script>   

 

        // API GET LOAD

        var res='0';
            window.onload = function OnloadFunction() { 
               
             EmployeeAccessApi();

           }

        const empcode1 = document.getElementById('emp_code');
            
        empcode1.onchange = function empCodeOnChange() { 
    
          EmployeeNameAccessApi(empcode1.value);


            }

//----------------------------------------------------------------------------------------

        function EmployeeAccessApi() {

                var ecode = '@ViewData["EmpCode"]';

       // ecode = '354836';
         var _link = '';
            if (document.location.hostname == 'localhost') { _link = "/HRM/getAPIData"; }
            else { var root = '@ViewData["root"]'; _link = "/" + root + "/HRM/getAPIData"; }


         var indata = 'EMP_LEAVEACESS' + '^' + ecode;
         var res1 = '';
         var access_code = '';

            const a = "";
            $.ajax({
                type: "GET",
                url: _link,
                data: { datas: indata },
                async: false,
                success: function (response) {

                        res1 = response;
                        access_code = JSON.parse(res1);
                        res1 = access_code[0].RESPONSE;

                        },
                        error: function (response) {
                            check = 0;
                     alert('Login error..');
                        }
                    });

              
            EditEmpCodeinputCheck(res1);

               
                }

                function EditEmpCodeinputCheck(res1)
                {
                   
                    if (res1 ==0)

                    document.getElementById('emp_code').setAttribute('readonly', true);
                    else if(res1 ==1)
                    document.getElementById('emp_code').removeAttribute('readonly');   
                    else
                     alert('Login error..');
     
                }
//--------------------------------------------------------------------------------------------
                  function EmployeeNameAccessApi(ecode) {

       
                       var _link = '';
            if (document.location.hostname == 'localhost') { _link = "/HRM/getAPIData"; }
            else { var root = '@ViewData["root"]'; _link = "/" + root + "/HRM/getAPIData"; }

         var   indata = 'EMP_NAME' + '^' + ecode;

            const a = "";
            $.ajax({
                type: "GET",
                url: _link,
                data: { datas: indata },
                async: false,
                success: function (response) {
                         res = response;
                         res = JSON.parse(res);
                         },
                        error: function (response) {
                            check = 0;
                     
                        }
                    });

                var  res1 = res[0].EMP_NAME;
                document.getElementById('emp_name').value = res1;
    
                }
  </script>

<script> //disable future date

             function disableFutureDates1(dateInputId) {
             const dateInput = document.getElementById('to_date');
           
                const today = new Date(); 
             dateInput.setAttribute('max', today.toISOString().split('T')[0]);
             }
                disableFutureDates1("to_date");

              function disableFutureDates2(dateInputId) {
             const dateInput = document.getElementById('from_date');
             const today = new Date();
             dateInput.setAttribute('max', today.toISOString().split('T')[0]);
             }
                disableFutureDates2("from_date");
 //------------------------------------------------------
         
            //to fetch all the nb datas used for api call
            var result = "";
            var check = " ";
            function submitReq()
            {
                
              //  var ecode = '@ViewData["EmpCode"]';
                var ecode = document.getElementById('emp_code').value;

                var dt = document.getElementById("to_date").value;
                var toDate = fetchDate(dt);

                dt = document.getElementById("from_date").value;
                                           
                var fromDate = fetchDate(dt);



                //Preparing indata
                var indata = ecode + "~" + fromDate + "~" + toDate;

                PostDataAPICall(indata);
                PostDataAPICall1(indata);
 

            }
//-------------------------------------------------------------------------------------------

            //to populate the first table with employee details
 
            function populateTable(data) {
          
                 
                // Get reference to the table body
               const tableBody = document.getElementById('table-body');
                tableBody.style.textAlign = "start";
                


                // Clear existing table rows
                tableBody.innerHTML = '';

                 data.forEach(item => {


                      const row1 = tableBody.insertRow();
                      const row2 = tableBody.insertRow();
                      const row3 = tableBody.insertRow();
                   
                    // Insert cells into the row
                    const cell1 = row1.insertCell();
                    const cell2 = row1.insertCell();
                    const cell3 = row1.insertCell();
                    const cell4 = row1.insertCell();


                    const cell5 = row2.insertCell();
                    const cell6 = row2.insertCell();
                    const cell7 = row2.insertCell();
                    const cell8 = row2.insertCell();

                    const cell9 = row3.insertCell();
                    const cell10 = row3.insertCell();
                    const cell11 = row3.insertCell();
                    const cell12 = row3.insertCell();

                   

                     // Populate cells with data
                       cell1.textContent ="";
                     cell2.textContent = "EMP CODE : " + item.EMP_CODE;
                    
                     cell2.style.fontSize = "12px";
                    
                    
                    
                     cell3.textContent = "";
                     cell4.textContent = "EMP NAME : " + item.EMP_NAME;
                     cell4.style.fontSize = "12px";

                     cell6.textContent="DESIGNATION : " + item.designation;
                     cell5.textContent = "";
                      cell6.style.fontSize = "12px";

                     cell7.textContent = "";
                     cell8.textContent = "DEPT NAME : " + item.dep_name;
                    cell8.style.fontSize = "12px";

                     cell10.textContent ="BRANCH NAME : " + item.branch_name;
                     cell9.textContent = "";
                     cell10.style.fontSize = "12px";
                   
                     cell11.textContent="";
                     cell12.textContent = "JOINING DATE : " + item.join_dt;
                    cell12.style.fontSize = "12px";
                  
                 });

             }
//-------------------------------------------------------------------------------------------
            
            function PostDataAPICall(indata) {

                 var _link = '';
            if (document.location.hostname == 'localhost') { _link = "/HRM/getAPIData"; }
            else { var root = '@ViewData["root"]'; _link = "/" + root + "/HRM/getAPIData"; }


                   indata = 'EMP_LEAVEREPORT_DTL' + '^' + indata;

                const a = "";
                $.ajax({
                    type: "GET",
                    url:_link,
                    data: { datas: indata },
                    async: false,
                    success: function (response) {
                        
                        const data3 = JSON.parse(response);
                        populateTable(data3)

                    },
                    error: function (response) {
                        check = 0;
                       
                    }
                });

                          }

//-------------------------------------------------------------------------------------------
             function populateTable1(data) {
                 
                 
                // Get reference to the table body
               const tableBody1 = document.getElementById('table-body1');
                // tableBody1.style.textAlign = "start";
                


                // Clear existing table rows
                tableBody1.innerHTML = '';

                 data.forEach(item => {


                      const row = tableBody1.insertRow();
                     row.id = "dataRowID";

                     document.getElementById('dataRowID').style.height='10px';


                     
                    // Insert cells into the row
                    const cell1 = row.insertCell();
                    const cell2 = row.insertCell();
                    const cell3 = row.insertCell();
                    const cell4 = row.insertCell();
                    const cell5 = row.insertCell();
                    const cell6 = row.insertCell();
                    
                   

                     // Populate cells with data
                     cell1.textContent = item.sl_no;
                     cell1.style.fontSize = "12px";
                 
                      cell2.textContent = item.from_date;
                      cell2.style.fontSize = "12px";

                     cell3.textContent = item.to_date;
                     cell3.style.fontSize = "12px";

                     cell4.textContent = item.leave_days;
                     cell4.style.fontSize = "12px";

                     cell5.textContent = item.leave_type;
                     cell5.style.fontSize = "12px";

                     cell6.textContent = item.leave_reason;
                     cell6.style.fontSize = "12px";


                     
                  
                 });

             }

  //-------------------------------------------------------------------------------------------
            function PostDataAPICall1(indata) {
                 var _link = '';
            if (document.location.hostname == 'localhost') { _link = "/HRM/getAPIData"; }
            else { var root = '@ViewData["root"]'; _link = "/" + root + "/HRM/getAPIData"; }

                
                   indata = 'EMP_LEAVEREPORT' + '^' + indata;

                const a = "";
                $.ajax({
                    type: "GET",
                    url: _link,
                    data: { datas: indata },
                    async: false,
                    success: function (response) {
                     
                        const data3 = JSON.parse(response);
                        populateTable1(data3)

                    },
                    error: function (response) {
                        check = 0;
                       
                    }
                });

            }


//-------------------------------------------------------------------------------------------

            function fetchDate(dt) {
                var getdate = dt;

                const months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];

                const [year, month, day] = getdate.split("-");
                const formattedMonth = months[parseInt(month, 10) - 1];
                const formattedDate = `${day}-${formattedMonth}-${year}`;
             //   document.getElementById("completionYear").innerHTML = formattedDate;
                return formattedDate;
            }

        </script>


        <script>
           
            //for assigning current date to a variable
            const formattedToday = todayformat();
            document.getElementById('to_date').defaultValue = formattedToday;
//-------------------------------------------------------------------------------------------


            //validating whether from date is greater than to date also checking whether selected dates are greater than current date
            function validation() {
                var fromdate = document.getElementById('from_date');
                var todate = document.getElementById('to_date');
                 
                if (fromdate.value > todate.value) {
                    alert("From Date must be less than To Date");
                    return false; // Prevent form submission
                }
                 const formattedToday = todayformat();

                  if (fromdate.value > formattedToday || todate.value > formattedToday) {
                    alert("Please Enter a Valid Date");
                    return false; // Prevent form submission
                }

                return showTableDiv(),show_btn(); // Allow form submission
            }


//-------------------------------------------------------------------------------------------
            

            //to show the table div when clicking confirm button
            function showTableDiv() {
                var dcontainer2 = document.getElementById('divcontainer2');
                dcontainer2.style.display = 'block';
            }

//-------------------------------------------------------------------------------------------
            //to show print, export btn and close btn
            function show_btn(){
                var showBtn = document.getElementById('btn_div');
                showBtn.style.display = 'block';
            }

//-------------------------------------------------------------------------------------------
            // function that returns todays date
             function todayformat()
                {
                     const today = new Date();
                const yyyy = today.getFullYear();
                let mm = today.getMonth() + 1; // Months start at 0!
                let dd = today.getDate();

                if (dd < 10) dd = '0' + dd;
                if (mm < 10) mm = '0' + mm;

                const formattedToday = yyyy + '-' + mm + '-' + dd;
                    return formattedToday;
                }
 //-------------------------------------------------------------------------------------------           
            //to unshow print, export btn and close btn
             function unshow_btn(){
                var showBtn = document.getElementById('btn_div');
                showBtn.style.display = 'none';
            }


//--------------------------------------------------------------------------
         //to unshow the table div when clicking exit button
            function unshowMainTableDiv() {
                var dcontainer2 = document.getElementById('maindiv');
                dcontainer2.style.display = 'none';
            }

//--------------------------------------------------------------------------
            //to unshow report table div when clicking close button
             function unshowTableDiv() {
                var dcontainer2 = document.getElementById('divcontainer2');
                dcontainer2.style.display = 'none';
            }




//--------------------------------------------------------------------------
            //to show current date inside the table
            const today = new Date();
            const day = String(today.getDate()).padStart(2, '0');
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const year = today.getFullYear();

            document.getElementById("currentDate").textContent = day + '/' + month + '/' + year;


//--------------------------------------------------------------------------
            //to show current time inside the table
           const  currentTime = () => {
             
          
             var date = new Date();
             var am_pm = "AM";
             var hour = date.getHours();
              if(hour>=12){
               am_pm = "PM";
               }
              if (hour == 0) {
                  hour = 12;
                }
              if(hour>12){
             hour = hour - 12;
             }
             if(hour<10){
              hour = "0"+hour;
             }

             var minute = date.getMinutes();
             if (minute<10){
              minute = "0"+minute;
              }
              var sec = date.getSeconds();
             if(sec<10){
               sec = "0"+sec;
             }

             document.getElementById("currentTime").textContent = hour+":"+minute+":"+sec+" "+am_pm;
                };

            setInterval(currentTime,500);

//--------------------------------------------------------------------------
      
            //to give entered from date and to date as table heading
            function ftabledate(){
            var fdate = document.getElementById('from_date').value;
            var dateParts = fdate.split('-');
            var formattedDate = dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0];
            document.getElementById('frm_date').innerHTML = formattedDate;
  
            var tDate = document.getElementById('to_date').value;
            var datePart = tDate.split('-');
            var formatedDate = datePart[2] + '-' + datePart[1] + '-' + datePart[0];
            document.getElementById('t_date').innerHTML = formatedDate;
            }
//--------------------------------------------------------------------------
            
               //to print the table data
                function printData()
                    {
                  var divToPrint=document.getElementById("divcontainer2");
                    newWin= window.open("");
                     newWin.document.write(divToPrint.outerHTML);
                    newWin.print();
                    newWin.close();
                    }


 //---------------------------------------------------------------------------           
             //export to excel code

             function ExportToExcel(type, dl) {
              
                var elt = document.getElementById('divcontainer2');
                var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
              
                XLSX.writeFile(wb, 'LEAVE_report.' + ('xlsx'));
            }


//--------------------------------------------------------------------------------

            //script for loading index page while clicking exit btn

              function loadIndex() {

                   var root = '';
                   var baselink = '@ViewData["baseurl"]';
                   var id = '@ViewData["HeadName"]';
            
                 if (document.location.hostname == 'localhost') {
                      window.location.href = "/HRM/Index?datas=" + id;
                 }
                else {
                     root = '@ViewData["root"]';
                     domainurl = baselink + root;
                      window.location.href = domainurl + "/HRM/Index?datas=" + id;
                     }

                    }
        </script>
        
         <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.min.js"></script>


</body>
</html>


