
@{
    ViewData["Title"] = "AUCTIONEERPUNCHCNTRL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta http-equiv="refresh" content="8" />*@

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/index.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>




    <style>
        .pagecontiner {
            background-color: transparent;
        }

        .dcontainer1 {
            width: 65%;
            height: auto;
            margin-left: 20%;
            padding: 6%;
            border-radius: 5px;
            background-color: #cfd8dc;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            font-size: small;
        }

        #dcontainer2 {
            display: none;
            height: 40%;
            width: 50%;
        }

        h5 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 10px;
        }

        label {
            display: block;
            font-size: small;
        }

        input[type="date"],
        select {
            width: 100%;
            padding: 4px;
            border: 1px solid #ADC;
            border-radius: 5px;
        }



        table {
            width: 100%;
            border-collapse: collapse;
            font-size: initial;
        }

        .img1 {
            display: none;
            cursor: pointer;
        }

        th,
        td {
            border: 1px solid white;
            text-align: left;
            padding: 8px;
            /* font-size: initial; */
            font-size: 10px;
            font-weight: bold;
        }

        th {
            background-color: #f2f2f2;
           /*  font-size: initial; */
            font-size: 10px;
        }




        .btn-grad {
            background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
            text-transform: uppercase;
            transition: 0.5s;
            padding: 10px;
            background-size: 200% auto;
            color: white;
            border-radius: 10px;
            border: none;
            display: block;
        }


            .btn-grad:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }

        .fs-10 {
            font-size: 10px;
        }
    </style>
</head>


<body>
    <div class="pagecontiner">

        <div class="dcontainer1">


            <form>
                <div class="secondcontainer">
                    <p style="font-size:large">AUCTIONEER PUNCH CONTROL REPORT</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="fromDate" style="font-size:12px">FROM DATE:</label>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input type="date" id="fromDate" value="" name="fromDate">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="fromDate" style="font-size:12px">TO DATE:</label>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input type="date" id="toDate" value="" name="toDate">

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;font-size:13px;font-weight:800;">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 ">
                        <button type="button" id="fetch-button" class=" btn-grad    "
                                onclick="fetchData();">
                            SUBMIT
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <button type="button" class=" btn-grad" onclick="loadIndex()">EXIT</button>
                    </div>

                    <!-- <button id="exportExcel" style=" width: 20px;">Export to Excel</button> -->

                </div>

            </form>
        </div>
        <div class="mt-5" id="dcontainer2">
            <div>
                <button type="button" class="btn btn-dark btn-block btn2 fs-10" onclick="exportToExcel();">
                    Export to Excel
                </button>

            </div>
            <div>


                <table class="table table-striped table-hover" id="your-table-id">
                    <thead>
                        <tr>
                            <th class="table-secondary text-center" style="background-color:#fdd935" colspan="18">
                                MANAPPURAM FINANCE LIMITED
                            </th>
                        </tr>

                        <tr>
                            <th class="text-center fs-10" colspan="18">
                                BRANCH NAME : A.O.VALAPAD -- BRANCH ID : 0
                            </th>
                        </tr>

                        <tr style="background-color:#808080">
                            <th colspan="5">
                                <span id="date" style="font-size:10px; font-weight:bold;"></span>
                            </th>
                            <th class="text-center fs-10" colspan="8">
                                AUCTIONEER PUNCH CONTROL REPORT
                            </th>
                            <th colspan="5" class="fs-10">
                                <span id="time" style="font-size:10px; font-weight:bold;"></span>
                            </th>
                        </tr>

                        <tr style="background-color:lightslategray">
                            
                            <th class="text-center fs-10 text-white">AUCTIONEER ID</th>
                            <th class="text-center fs-10 text-white">AUCTIONEER NAME</th>
                            <th class="text-center fs-10 text-white">BRANCH1</th>
                            <th class="text-center fs-10 text-white">AREA1</th>
                            <th class="text-center fs-10 text-white">DISTRICT1</th>
                            <th class="text-center fs-10 text-white">BRANCH2</th>
                            <th class="text-center fs-10 text-white">AREA2</th>
                            <th class="text-center fs-10 text-white">DISTRICT2</th>
                            <th class="text-center fs-10 text-white">BH EMPCODE</th>
                            <th class="text-center fs-10 text-white">BH NAME</th>
                            <th class="text-center fs-10 text-white">BH REMARKS</th>
                            <th class="text-center fs-10 text-white">REQUESTED DATE</th>
                            <th class="text-center fs-10 text-white">ZM EMPCODE</th>
                            <th class="text-center fs-10 text-white">ZM NAME</th>
                            <th class="text-center fs-10 text-white">ZM REMARKS</th>
                            <th class="text-center fs-10 text-white">APPROVAL DATE</th>
                            <th class="text-center fs-10 text-white">STATUS</th>
                        </tr>
                    </thead>
                    <tbody id="table-body1">
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script>
        function ActiveLoginCheck() {
            var user = '@ViewData["EmpCode"]';
            if (user == null || user == '') {
                alert('INACTIVE SESSION');
                loadIndex();
            }

        }
        window.onload = function OnloadFunction() {
            ActiveLoginCheck();
            form_access();
            alertfunction();
        }
        var slno = '0';
        function form_access() {

            var _link = '';
            if (document.location.hostname == 'localhost') { _link = "/Loans/getAPIData"; }
            else { var root = '@ViewData["root"]'; _link = "/" + root + "/Loans/getAPIData"; }


            const EmpCode = '@ViewData["EmpCode"]';
           
            indata = "Mebs_Auction" + "^" + "AuctioneerPunchRptAccess" + "~" + EmpCode;
            var response = '';
            $.ajax({
                type: "GET",
                url: _link,
                data: { datas: indata },
                async: false,
                success: function (response) {

                    slno = response;

                },
                error: function (response) {
                    // alert("failed");
                }
            });
           
            slno = JSON.parse(slno);
            slno = slno[0].RESULT;
           
            
        }
        function alertfunction() {
            

            if (slno == 0) {
                alert("You Are Not Authorised to View This Page !!");
                loadIndex();
                return;
            }




        }
    </script>
    <script>
        //----redirect to index page

        function loadIndex() {

            var root = '';
            var baselink = '@ViewData["baseurl"]';
            var id = '@ViewData["HeadName"]';

            if (document.location.hostname == 'localhost') {
                window.location.href = "/Loans/Index?datas=" + id;
            }
            else {
                root = '@ViewData["root"]';
                domainurl = baselink + root;
                window.location.href = domainurl + "/Loans/Index?datas=" + id;
            }

        }

        //code for validation

     
        //code for showing the table container

        function showContainer() {
            var dcontainer2 = document.getElementById('dcontainer2');
            dcontainer2.style.display = 'block';

            var buttonSummary = document.getElementById('fetch-button1');
            buttonSummary.style.display = "block";

            var buttonNpa = document.getElementById('fetch-button2');
            buttonNpa.style.display = "block";


            var buttonNonNpa = document.getElementById('fetch-button3');
            buttonNonNpa.style.display = "block";
        }

        //Code for Exit Button (for hidding the table)

        function unshowContainer() {
            var dcontainer2 = document.getElementById('dcontainer2');
            dcontainer2.style.display = 'none';

            var buttonSummary = document.getElementById('fetch-button1');
            buttonSummary.style.display = "none";

            var buttonNpa = document.getElementById('fetch-button2');
            buttonNpa.style.display = "none";


            var buttonNonNpa = document.getElementById('fetch-button3');
            buttonNonNpa.style.display = "none";


            document.getElementById("fromDate").value = '';
            document.getElementById("toDate").value = '';
            document.getElementById("dropdown").selectedIndex = 0;

        }

        function callAPIResponse() {

            var _link = '';
            if (document.location.hostname == 'localhost') { _link = "/Loans/getAPIData"; }
            else { var root = '@ViewData["root"]'; _link = "/" + root + "/Loans/getAPIData"; }


            const dt = fetchDatefrom();
            const dt1 = fetchDateto();

            var dataz;
            indata = "Mebs_Auction" + "^" + "AuctioneerPunchRpt" + "~" + dt + "*" + dt1;
            var response = '';
            $.ajax({
                type: "GET",
                url: _link,
                data: { datas: indata },
                async: false,
                success: function (response) {

                    const data3 = JSON.parse(response);
                    populateTable(data3)
                    showContainer();
                }
            });
        }

        //disable futuredate
        function disableFutureDates(dateInputId) {
            const dateInput = document.getElementById(dateInputId);
            const today = new Date();
            dateInput.setAttribute('max', today.toISOString().split('T')[0]);
        }
        disableFutureDates("fromDate");
        disableFutureDates("toDate");

        function fetchDatefrom() {
            var getdate = document.getElementById('fromDate').value;
            // alert(getdate);

            const months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];

            const [year, month, day] = getdate.split("-");
            const formattedMonth = months[parseInt(month, 10) - 1];
            const formattedDate = `${day}-${formattedMonth}-${year}`;
           // document.getElementById("processDate").innerHTML = formattedDate;
            return formattedDate;
        }
        function fetchDateto() {
            var getdate = document.getElementById('toDate').value;
            // alert(getdate);

            const months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];

            const [year, month, day] = getdate.split("-");
            const formattedMonth = months[parseInt(month, 10) - 1];
            const formattedDate = `${day}-${formattedMonth}-${year}`;
            //document.getElementById("processDate").innerHTML = formattedDate;
            return formattedDate;
        }
        function fetchData() {
            //alert("fetch");
            var baselink = '@ViewData["baseurl"]';
            var from = document.getElementById("fromDate");
            var to = document.getElementById("toDate");
          


            if (from.value == "") {
                //If the "Please Select" option is selected display error.
                alert("Please select from date");
                return false;
            }
            else if (to.value == "") {
                //If the "Please Select" option is selected display error.
                alert("Please select to date");
                return false;
            }
            else {
                callAPIResponse();
            }
          

        }

        function populateTable(data) {

            // Get reference to the table body
            const tableBody = document.getElementById('table-body1');

            // Clear existing table rows
            tableBody.innerHTML = '';



            // Iterate over the data and create table rows
            data.forEach(item => {

               

                const cellvalue1 = parseFloat(item.AUC_ID);
                const cellvalue2 = parseFloat(item.AUC_NAME);
                const cellvalue3 = parseFloat(item.BRANCH1);
                const cellvalue4 = parseFloat(item.AREA1);
                const cellvalue5 = parseFloat(item.DISTRICT1);
                const cellvalue6 = parseFloat(item.BRANCH2);
                const cellvalue7 = parseFloat(item.AREA2);
                const cellvalue8 = parseFloat(item.DISTRICT2);
                const cellvalue9 = parseFloat(item.EMPCODE);
                const cellvalue10 = parseFloat(item.EMPNAME);
                const cellvalue11 = parseFloat(item.REMARKS);
                const cellvalue12 = parseFloat(item.REQ_DATE);
                const cellvalue13 = parseFloat(item.AZM_EMPCODE);
                const cellvalue14 = parseFloat(item.EMP_NAME);
                const cellvalue15 = parseFloat(item.AZM_REMARKS);
                const cellvalue16 = parseFloat(item.APP_DT);
                const cellvalue17 = parseFloat(item.STATUS);







                // Create a new row
                const row = tableBody.insertRow();

                // Insert cells into the row
                
                const cell2 = row.insertCell();
                const cell3 = row.insertCell();
                const cell4 = row.insertCell();
                const cell5 = row.insertCell();
                const cell6 = row.insertCell();
                const cell7 = row.insertCell();
                const cell8 = row.insertCell();
                const cell9 = row.insertCell();
                const cell10 = row.insertCell();
                const cell11 = row.insertCell();
                const cell12 = row.insertCell();
                const cell13 = row.insertCell();
                const cell14 = row.insertCell();
                const cell15 = row.insertCell();
                const cell16 = row.insertCell();
                const cell17 = row.insertCell();
                const cell18 = row.insertCell();

                // Add more cells if needed

                // Populate cells with data
               
                cell2.textContent = item.AUC_ID;
                cell3.textContent = item.AUC_NAME;
                cell4.textContent = item.BRANCH1;
                cell5.textContent = item.AREA1;
                cell6.textContent = item.DISTRICT1;
                cell7.textContent = item.BRANCH2;
                cell8.textContent = item.AREA2;
                cell9.textContent = item.DISTRICT2;
                cell10.textContent = item.EMPCODE;
                cell11.textContent = item.EMPNAME;
                cell12.textContent = item.REMARKS;
                cell13.textContent = item.REQ_DATE;
                cell14.textContent = item.AZM_EMPCODE;
                cell15.textContent = item.EMP_NAME;
                cell16.textContent = item.AZM_REMARKS;
                cell17.textContent = item.APP_DT;
                cell18.textContent = item.STATUS;






                cell10.style.backgroundColor = 'greenyellow';
                cell11.style.backgroundColor = 'greenyellow';
                cell12.style.backgroundColor = 'yellow';
                cell13.style.backgroundColor = 'yellow';
                cell14.style.backgroundColor = 'orange';
                cell15.style.backgroundColor = 'orange';
                cell16.style.backgroundColor = 'red';
                cell17.style.backgroundColor = 'red';
                cell18.style.backgroundColor = 'red';


            });



            const row1 = tableBody.insertRow();

            row1.style = 'font-weight:bolder;font-size:8px;background-color:white';

          
            const cell2 = row1.insertCell();
            const cell3 = row1.insertCell();
            const cell4 = row1.insertCell();
            const cell5 = row1.insertCell();
            const cell6 = row1.insertCell();
            const cell7 = row1.insertCell();
            const cell8 = row1.insertCell();
            const cell9 = row1.insertCell();
            const cell10 = row1.insertCell();
            const cell11 = row1.insertCell();
            const cell12 = row1.insertCell();
            const cell13 = row1.insertCell();
            const cell14 = row1.insertCell();
            const cell15 = row1.insertCell();
            const cell16 = row1.insertCell();
            const cell17 = row1.insertCell();
            const cell18 = row1.insertCell();







            cell10.style.backgroundColor = 'greenyellow';
            cell11.style.backgroundColor = 'greenyellow';
            cell12.style.backgroundColor = 'yellow';
            cell13.style.backgroundColor = 'yellow';
            cell14.style.backgroundColor = 'orange';
            cell15.style.backgroundColor = 'orange';
            cell16.style.backgroundColor = 'red';
            cell17.style.backgroundColor = 'red';
            cell18.style.backgroundColor = 'red';



        }

        function exportToExcel() {
            const table = document.getElementById('your-table-id');
            if (table) {
                const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet JS" });
                if (wb) {
                    XLSX.writeFile(wb, 'auctreport.xlsx');
                } else {
                    console.error('Workbook is null. Unable to export data.');
                }
            } else {
                console.error('Table element not found. Unable to export data.');
            }
        }

      
    </script>
   
</body>
</html>


